.category-finder {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
}

.category-finder h2 {
  color: white;
  font-family: 'Rochester', cursive;
  font-size: 2.2rem;
}

.category-finder .inputs {
  align-items: center;
  display: flex;
  justify-content: center;
}
