.owner {
  align-items: center;
  display: flex;
  flex: 1;
  justify-content: center;
}

.owner img {
  height: 150px;
}

.owner .content {
  padding: 1rem;
}

.owner .content ul li {
  list-style-type: none;
  padding-bottom: 1rem;
}