.item {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.leftSide {
  flex:2;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

.leftSide button {
  width: 50px;
  height: 50px;
}

.rightSide {
  flex:3;
  display: flex;
  flex-direction: column;
}