.item-form{
  flex: 6;
  padding: 2rem 0rem; 
  margin: auto;
  width: 400px;
  
  height: 100%;
  display: flex;
  flex-direction: column;
}

.item-form .form{
  background-color: rgba(34, 34, 34, .6);
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0rem 1rem;
  flex: 1;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2), 0 8px 12px 2px rgba(0, 0, 0, 0.39);
  border-radius: 2px;
}

.item-form .form h3 {
  margin: 0;
}

.item-form .form .text-input{
  flex:1;
  width: 100%;
}

.item-form .form img{
  height: 200px;
  padding: 1rem 0rem;
}

.item-form .form textarea {
  resize: none;
  flex: 3;
  margin: 1rem;
  width: 100%;
  padding: 0.5rem;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.2), 0 8px 12px 2px rgba(0, 0, 0, 0.39);
}

.item-form .form select {
  width: 50%;
  flex: 1;
  padding: 1rem 0rem;
}

.item-form .from select option {
  margin-left: 1rem;
}

.item-form .form .create-button {
  margin-bottom: 1rem;
  flex: 1;
  font-size: 1rem;

}