.item-form{
  flex: 6;
  padding: 1rem;
  width: 400px;
  
}

.item-form .form{
  background: lightblue;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
  box-shadow: 1px 1px 3px;
}


.item-form .form select{
  margin: 1rem 0rem;
}
