.bet-creator { 
  background-color: lightskyblue;
  height: 100vh;
}

.bet-creator p{
  margin: 0;
}

.bet-creator .all-things {
  overflow-y: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.bet-creator img{
  height: 40px;
}

.item-list img:hover {
  cursor: pointer;
}
