.bet-creator {
  display: flex;
  flex-direction: column;
  
  position: relative;
}

.bet-creator h2 {
  color: white;
  font-family: 'Rochester', cursive;
  font-size: 2rem;
  margin-top: 0;
}


.bet-creator .all-things {
  flex: 6;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: auto;
}

.item-list img:hover {
  cursor: pointer;
}



.bet-creator .courner-left-button{
  left: 40%;
  bottom: 1rem;
  border-radius: 5px;
  font-size: 1rem; 
  position: fixed;
}


.bet-creator .courner-right-button{
  right: 1rem;
  bottom: 1rem;
  border-radius: 5px;
  font-size: 1rem; 
  position: fixed;
}
