.item-list {
  padding: 0rem 1rem 1rem 1rem;
  overflow-y: auto;
  justify-content: space-around;
  flex-wrap: wrap;
  display: flex;
  flex: 3;
}

.item-list img {
  height: 200px;
}

.item-list img:hover {
  cursor: pointer;
}

.item-list .item-card {
  
  
}