.bet {
  background-color: #eeeeee;
  margin-bottom: 1rem; 
  border-radius: 5px;
}

.bet .user-preview {
  flex-direction: row;
  display: flex;
  margin: 1rem;
  height: 75px;
}

.bet .user-preview img {
  height: 75px;
  border-radius: 50%;
  padding: 0rem 1rem;
}

.bet .user-preview .order {
  width: 100%;
}

.bet .betItems{
  flex-direction: row;
  display: flex;
  overflow-x: auto;
  margin-bottom: 1rem; 
}

.bet .betItems img{
  padding: 0rem 1rem;
  height: 100px;
}