.card {
  position: relative;
  transition: all 0.3s;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.card .delete-icon{
  height: 30px;
  width: 30px;
  position: absolute;
  padding: 0;
  background-color: transparent;
  border: 0px;
  box-shadow: none;
}

.card .delete-icon img{
  height: 30px;
  width: 30px;
}

.item-card {
  align-items: center;
  background-color: #eeeeee;
  border-radius: 3px;
  box-shadow: 0 3px 3px rgba(0,0,0,0.16), 0 3px 3px rgba(0,0,0,0.23); 
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  transition: all 0.3s; 
}

.item-card p{
  margin: 1rem 0rem;
}

.item-card .card-image {
  height: 200px;
  width: 200px;
  cursor: default;
}

.item-card .card-image:hover {
  cursor: default;
}

.item-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.45), 0 10px 10px rgba(0,0,0,0.42);
  
}
