.item-finder {
  align-items: center;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.item-finder .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.item-finder .header a{
  margin: 0rem 1rem;
}

.item-finder h2 {
  color: white;
  font-family: 'Rochester', cursive;
  font-size: 2rem;
}

.item-finder .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
}


.item-finder .inputs button{
  font-size: 1rem;
  margin-left: 1rem;
}