.item-finder {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item-finder h2 {
  color: white;
  font-family: 'Rochester', cursive;
  font-size: 2rem;
}

.item-finder input{
  margin-left: 1rem;
}

.item-finder button{
  font-size: 1rem;
  margin-left: 1rem;
}