.categories-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.categories-view .footer {
  flex: 1;
  background: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}