.categories-view {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.categories-view .header {
  flex: 1;
  background: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: 1px 1px 3px;
}

.categories-view .footer {
  flex: 1;
  background: lightblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
}