.thing {
  display: flex;
  flex-direction: column;
  flex: 3;
  justify-content: space-around;
  align-items: center;
  padding: 1rem;
}

.thing h2 {
  margin-top: 0;
}

.thing .thing-picture{
  height: 200px;
  max-width: 100%;
}

.thing p {
  overflow-y: auto;
  text-align: justify;
  max-height: 150px;
  width: 100%;
  
}