body,
html {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

/* Firefox dots */

button::-moz-focus-inner {
  border: 0;
}

a {
  outline: 0;
}

input {
  background-color: #eeeeee;
  border: 2px solid #332b29;
  border-radius: 3px;
  box-shadow: 2px 2px 6px black;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 1rem;
  padding: 6px;
}

button,
.link-as-button {
  background-color: #332b29;
  border: 2px solid #433b39;
  border-radius: 2px;
  box-shadow: 2px 2px 6px black;
  color: #eeeeee;
  cursor: pointer;
  font-family: 'Open Sans', sans-serif;
  padding: 4px;
  text-decoration: none;
}

button:hover,
.link-as-button:hover {
  box-shadow: none;
}

.disabled {
  background-color: #424242;
  border-color: #525252;
  box-shadow: none;
  cursor: no-drop;
  opacity: 0.7;
}

.button-as-link {
  background: transparent;
  border: none;
  box-shadow: none;
  color: #332b29;
  text-decoration: underline;
}
